@orange: #e06b4f;
@lightOrange: lighten(@orange, 8%);
@lightBlue: #738D9E;
@blue: #3b4952;
@darkBlue: #32414A;

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  font-family: 'Lato', sans-serif;
}

body.opened {
  .navbar {
    left: 0;
  }

  .wrapper {
    left: 240px;
  }

  .navbar-wrapper {
    left: 240px;
  }

  #navbar-button {
    color: @orange;
  }
}

.wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 70px;
  .-transition(left 500ms cubic-bezier(0.000, 0.690, 0.380, 0.975));
  .-transition-timing(cubic-bezier(0.000, 0.690, 0.380, 0.975));
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

.navbar-wrapper {
  margin: 0 auto;
  width: 100%;
  position: fixed;

  color: @blue;
  font-size: 2em;
  padding: 10px;
  background: #eee;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);

  left: 0;
  z-index: 98;

  .-transition(left 500ms cubic-bezier(0.000, 0.690, 0.380, 0.975));
  .-transition-timing(cubic-bezier(0.000, 0.690, 0.380, 0.975));


  .name {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
  }

  #navbar-button {
    cursor: pointer;
    position: fixed;
    padding: 5px;

    &:hover {
      color: @darkBlue;
    }
  }
}


.modal-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  z-index: 99;

  transition: opacity 0.4s ease-in-out;
  //.-transition(opacity 0.4s ease-in-out);
}

.logo {
  text-align: center;
  margin-top: 50px;
  .icon {
    color: @orange;
    font-size: 10em;
    display: block;
  }
}

.projects {
  margin: 60px auto;
  ul.filters {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      background: @blue;
      color: white;
      padding: 15px;
      margin: 0 10px 40px 10px;
      border-radius: 3px;
      &:active,
      &:hover,
      &.active {
        background: @lightOrange;
        cursor: pointer;
      }
    }
  }
  #Grid {
    margin: 0 auto;
    padding: 0;
    .mix {
      display: none;
      position: relative;

      max-width: 300px;
      width: 100%;
      height: 200px;
      margin: 2px;

      .project {
        height: 100%;
        width: 100%;
        position: absolute;

        &:hover {

          .details {
            opacity: .9;
            cursor: pointer;
          }
        }


        .details-modal-data {
          border-radius: 5px;

          width: 50%;
          min-width: 350px
          height: auto;

          z-index: 100;
          background: #eee;

          position: fixed;
          left: 50%;
          top: 50%;

          text-align: center;

          color: #333;

          -webkit-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);

          h1 {
            display: block;
            width: 100%;
            background: #333;
            color: #eee;
            font-size: 2em;
            padding: 10px;
            margin: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          .links {
            padding: 20px;
            width: 100%;

            a {
              float: left;
              padding: 8px;
              color: #333;
              border: 1px solid #333;
              border-radius: 3px;
              text-decoration: none;
              margin: 0 4px;

              &.close {
                float: right;
              }

              &:hover {
                background: #333;
                border-color: white;
                color:white;
              }
            }
          }

          p {
            padding: 20px;
          }

          img {
            width: 100%;
            height: auto;
          }

        }

        img {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        .details {
          position: absolute;
          line-height: 200px; // height

          z-index: 90;

          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          background: @blue;

          opacity: 0;
          transition: opacity 0.4s ease-in-out;

          a {
            width: 100%;
            height: 100%;
            position: absolute;

            text-align: center;

            color: white;
            font-size: 2em;
          }
        }
      }
    }
  }
}

.navbar {
  background: @blue;
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 98;

  left: -240px;

  .-transition(left 500ms cubic-bezier(0.000, 0.690, 0.380, 0.975));
  .-transition-timing(cubic-bezier(0.000, 0.690, 0.380, 0.975));

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    p {
      color: @lightBlue;
      text-align: center;
    }

  }
  ul.socials {
    position: absolute;
    bottom: 50px;
    text-align: center;
    padding: 0;
    width: 100%;
    li {
      display: inline-block;
      list-style: none;
      position: relative;
      padding: 15px;

      a {
        color: @lightBlue;
        text-decoration: none;
        font-size: 1.6em;

        &:hover {
          color: white;
        }
      }
    }
  }
  ul.nav-items {
    width: 100%;
    margin-top: 50px;
    padding: 0;

    li {
      display: block;
      list-style: none;
      position: relative;
      width: 100%;
      padding: 20px;
      overflow: hidden;
      letter-spacing: 1px;

      a {
        display: block;
        color: white;
        text-decoration: none;
        width: 100%;
        font-size: 1.3em;

        i {
          display: inline-block;
          width: 50px;
        }
      }

      &:active,
      &:hover,
      &.active {
        background: @darkBlue;
      }

    }
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  margin-left: 5%;
}

.column:first-child {
  margin-left: 0;
}

.column.one-third {
  width: 30%;
}


/* Mixins */
.-transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.-transition-timing(@timing) {
  -webkit-transition-timing-function: @timing;
  -moz-transition-timing-function: @timing;
  -o-transition-timing-function: @timing;
  transition-timing-function: @timing;
}