/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}
#navbar-collapse-under {
  color: #3b4952;
  font-size: 2em;
  padding: 20px;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
}
#navbar-collapse-under:hover {
  color: #32414a;
}
.logo {
  text-align: center;
  margin-top: 50px;
}
.logo .icon {
  color: #e06b4f;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  font-size: 10em;
  display: block;
}
.logo .name {
  color: #3b4952;
  font-family: 'Quicksand', sans-serif;
}
.projects {
  margin: 60px auto;
  font-family: 'lato', sans-serif;
}
.projects ul.filters {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
.projects ul.filters li {
  list-style: none;
  display: inline-block;
  border: 3px solid #32414a;
  background: #3b4952;
  color: white;
  padding: 15px;
  margin: 0 5px 40px 5px;
}
.projects ul.filters li:active,
.projects ul.filters li:hover,
.projects ul.filters li.active {
  border-color: #e06b4f;
  background: #e68872;
  cursor: pointer;
}
.projects #Grid {
  margin: 0 auto;
  padding: 0;
}
.projects #Grid .mix {
  display: none;
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 200px;
  margin: 2px;
}
.projects #Grid .mix .project {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}
.projects #Grid .mix .project img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.projects #Grid .mix .project .details {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  background: #3b4952;
  padding: 10px;
  -webkit-transition: bottom 700ms cubic-bezier(0, 0.69, 0.38, 0.975);
  -moz-transition: bottom 700ms cubic-bezier(0, 0.69, 0.38, 0.975);
  -o-transition: bottom 700ms cubic-bezier(0, 0.69, 0.38, 0.975);
  transition: bottom 700ms cubic-bezier(0, 0.69, 0.38, 0.975);
  -webkit-transition-timing-function: cubic-bezier(0, 0.69, 0.38, 0.975);
  -moz-transition-timing-function: cubic-bezier(0, 0.69, 0.38, 0.975);
  -o-transition-timing-function: cubic-bezier(0, 0.69, 0.38, 0.975);
  transition-timing-function: cubic-bezier(0, 0.69, 0.38, 0.975);
}
.projects #Grid .mix .project .details h3 {
  color: white;
  font-size: 1.7em;
  font-family: 'Quicksand', sans-serif;
  padding: 5px;
  margin: 0;
}
.projects #Grid .mix .project .details p {
  color: #aaa;
  margin-top: -0.5em;
  padding: 8px;
}
.projects #Grid .mix .project .details a {
  color: white;
  text-decoration: none;
  background: #32414a;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.projects #Grid .mix .project .details a:hover {
  background: #e06b4f;
}
.projects #Grid .mix .project:hover .details {
  bottom: 0;
}
.navbar {
  background: #3b4952;
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  left: -240px;
  -webkit-transition: left 500ms cubic-bezier(0, 0.69, 0.38, 0.975);
  -moz-transition: left 500ms cubic-bezier(0, 0.69, 0.38, 0.975);
  -o-transition: left 500ms cubic-bezier(0, 0.69, 0.38, 0.975);
  transition: left 500ms cubic-bezier(0, 0.69, 0.38, 0.975);
  -webkit-transition-timing-function: cubic-bezier(0, 0.69, 0.38, 0.975);
  -moz-transition-timing-function: cubic-bezier(0, 0.69, 0.38, 0.975);
  -o-transition-timing-function: cubic-bezier(0, 0.69, 0.38, 0.975);
  transition-timing-function: cubic-bezier(0, 0.69, 0.38, 0.975);
}
.navbar.opened {
  left: 0;
}
.navbar #navbar-collapse-over {
  position: relative;
  color: #e06b4f;
  font-size: 2em;
  padding: 20px;
  cursor: pointer;
}
.navbar #navbar-collapse-over:hover {
  color: white;
}
.navbar .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.navbar .footer p {
  color: #738d9e;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.navbar ul.socials {
  position: absolute;
  bottom: 50px;
  text-align: center;
  padding: 0;
  width: 100%;
}
.navbar ul.socials li {
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 15px;
}
.navbar ul.socials li a {
  color: #738d9e;
  text-decoration: none;
  font-size: 1.6em;
}
.navbar ul.socials li a:hover {
  color: #222c32;
}
.navbar ul.nav-items {
  width: 100%;
  margin-top: 50px;
  padding: 0;
}
.navbar ul.nav-items li {
  display: block;
  list-style: none;
  position: relative;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  letter-spacing: 1px;
  border-top: 1px solid #738d9e;
}
.navbar ul.nav-items li:last-child {
  border-bottom: 1px solid #738d9e;
}
.navbar ul.nav-items li a {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
}
.navbar ul.nav-items li a i {
  display: inline-block;
  width: 50px;
}
.navbar ul.nav-items li.not-ready {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar ul.nav-items li.not-ready:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  position: absolute;
  content: "Not ready for primetime";
  background: #32414a;
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  opacity: 0;
}
.navbar ul.nav-items li.not-ready:hover:before,
.navbar ul.nav-items li.not-ready.hover:before {
  opacity: .95;
}
.navbar ul.nav-items li:active,
.navbar ul.nav-items li:hover,
.navbar ul.nav-items li.active {
  background: #32414a;
}
.footer {
  position: fixed;
  bottom: -1px;
  right: 0;
  left: 0;
  height: 30px;
}
.footer .alert {
  font-family: 'Quicksand', sans-serif;
  background: #e06b4f;
  padding: 5px;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  margin-left: 5%;
}
.column:first-child {
  margin-left: 0;
}
.column.full {
  width: 100%;
}
.column.two-thirds {
  width: 65%;
}
.column.half {
  width: 47.5%;
}
.column.one-third {
  width: 30%;
}
.column.one-fourth {
  width: 21.25%;
}
@media screen and (max-width: 640px) {
  .column.full,
  .column.two-thirds,
  .column.half,
  .column.one-third,
  .column.one-fourth {
    float: none;
    margin: 0;
    width: 100%;
  }
  #navbar-collapse-under {
    width: 100%;
    background: #eee;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  }
  #sidebar {
    width: 100%;
  }
  #sidebar .nav-items {
    margin-top: 0;
  }
  .logo {
    margin-top: 100px;
  }
  .navbar {
    left: -100%;
  }
  .navbar ul.socials {
    bottom: 10px;
  }
}
/* Mixins */
