<% var
pageTitle = "About";
pageId = "index";
pageUrl = "";
pageDescription = "About Brayden Lopez - UX/UI Engineer, DevOps, Full Stack Developer, and AWS Engineer";
%>

<% include ../_partial/_header %>

<div class="container">
    <span class="bash-thing">$ ./<span id="domain"></span> </span>
    <div class="info">
        <span class="intro">Hello, I'm <strong>Jacoy</strong> </span> <br />
        <ul>
            <li>Full Stack Engineering</li>
            <li>Cloud - AWS + GCP </li>
            <li>Distributed Systems Engineering</li>
        </ul>
    </div>

    <div class="icons">
        <a href="https://github.com/headdetect" class="icon"><i class="fab fa-github-alt"></i></a>
        <a href="https://www.linkedin.com/in/brayden-lopez/" class="icon"><i class="fab fa-linkedin"></i></a>
    </div>
</div>



<% include ../_partial/_footer %>
