<% var
pageTitle = "About";
pageId = "index";
pageUrl = "";
pageDescription = "About Brayden Lopez - UX/UI Developer, DevOps, Full Stack Developer, and AWS Engineer";
%>

<% include ../_partial/_header %>

<div class="container">
    <span class="bash-thing">$_</span>
    <div class="info">
        <span class="intro">Hello! I'm <strong>Brayden Lopez</strong> </span> <br />
        <ul>
            <li>UI/UX Developer </li>
            <li>DevOps Engineer </li>
            <li>Full Stack Developer </li>
            <li>AWS Cloud Engineer </li>
        </small>
    </div>

    <div class="icons">
        <a href="https://github.com/headdetect" class="icon"><i class="fab fa-github-alt"></i></a>
        <a href="https://www.linkedin.com/in/brayden-lopez/" class="icon"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/headdetect" class="icon"><i class="fab fa-twitter"></i></a>
    </div>
</div>


<% include ../_partial/_footer %>
