<% var
pageTitle = "About";
pageId = "index";
pageUrl = "";
pageDescription = "About Brayden Lopez: UX/UI Developer, DevOps, and Full Stack Developer";
%>

<% include ../_partial/_header %>


<div class="container">
    <div class="header">
        <ul class="tiny-nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <i class="fal fa-user-astronaut"></i>

    <p class="info">
        I'm <strong>Brayden Lopez</strong> <br />
        <span class="color-line">A UI/UX Developer</span> <br />
        <span class="color-line">A DevOps Engineer</span> <br />
        <span class="color-line">A Full Stack Developer</span> <br />
    </p>

</div>


<% include ../_partial/_footer %>
