<div class="cover-container">

  <div class="center-piece">
    <div class="masthead">
      <h3 class="masthead-brand"><a href="/">Cover</a></h3>
    </div>

    <div class="center-piece-image">
      <img src="../assets/profile.jpg" alt="Profile Image of Me." />
    </div>

    <div class="mastfoot">
      <div class="inner">
        <nav class="nav nav-masthead">
          <a class="nav-link" href="https://twitter.com/headdetect"><em class="fa fa-twitter"></em></a>
          <a class="nav-link" href="https://github.com/headdetect"><em class="fa fa-github"></em></a>
          <a class="nav-link" href="https://www.linkedin.com/in/brayden-lopez-482a8052"><em class="fa fa-linkedin"></em></a>
          <a class="nav-link" (click)="redirectToEmail()"><em class="fa fa-letter"></em></a>
        </nav>
      </div>
    </div>
  </div>
</div>
