// index page

.bash-thing {
  display: block;
  margin-top: 2rem;
  font-size: 3rem;

  @media (min-width: 576px) { 
    margin-top: 10rem;
  }
}

.header {
  font-weight: 700;
  font-size: 1.3rem;

  padding-top: 5rem;

  ul.tiny-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 1rem;
      display: inline-block;
    }
  }

}

.info {
  padding-top: 3rem;

  strong {
    color: $link;
  }

  .intro {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 3.5rem;
  }

  ul {
    font-size: 2rem;
    font-weight: 300;

    li {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
}

.icons {
  padding-top: 3rem;
  font-size: 3rem;
}

a.icon {
  display: inline-block;
  margin: 0 1.2rem;
}