// index page

.container {
  padding: 5rem 1.5rem;
  text-align: center;
  max-width: 100%;
}

.header {
  font-weight: 700;
  font-size: 1.3rem;

  padding-top: 5rem;

  ul.tiny-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 1rem;
      display: inline-block;
    }
  }

}

.fa-user-astronaut {
  font-size: 13rem;
  padding: 4rem 0;
}

.info {
  padding-top: 3rem;

  font-size: 5vw;

  strong {
    display: inline-block;
    background: $link;
    color: black;
    padding: 0 0.5rem;
  }
}

#particles-js {
  z-index: -1;
  top: 0;

  canvas.particles-js-canvas-el {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

a.icon {
  display: inline-block;
  margin: 0 1.2rem;
}