// Color Variables

$bg: #03050c; // Background color
$bg-light: #EDF2F2; // Light background color

$text: #ffffff; // Base text color
$text-header: #333; // Header text color
$text-light: #717584; // Light text color

$link: #5ab75a; // Link text color
$hover: darken($link,8%); // Link text color(hover)

$border: #c8cfe4; // Border color


$font: 'Montserrat', sans-serif;
